.name-small {
  display: none;
}
.name-large {
  display: inline;
}

@media (max-width: 768px) {
  .name-large {
    display: none;
  }
  .name-small {
    display: inline;
  }
}

.header {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}
.logo-a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}
.navbar .nav-links li a:hover {
  color: #1abc9c;
}
