.municipio-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 20px 0;
  padding: 20px;
}

.municipio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.municipio-card h2 {
  text-align: center;
  color: #2c3e50;
}

.select-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

select {
  padding: 10px;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  background-color: white;
  color: #2c3e50;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:hover {
  border-color: #1a252f;
}
