/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Geist", serif;

  background: linear-gradient(to right, #f0f2f5, #d9e2ec);
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  flex: 1;
  padding-bottom: 80px;
}

.gasolineras {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 5px;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .logo img {
    height: 50px;
    margin: 0 auto 5px auto;
  }

  .logo-a {
    font-size: 1.6em;
  }

  .navbar {
    width: 100%;
    margin: 10px 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
  }

  .nav-links li a {
    font-size: 1.2em;
  }
}

.info-message {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #b6b6b6;
}

.info-message h1 {
  font-size: 1.5em;
  color: #2c3e50;
}

.info-message-bottom {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.info-message-bottom h1 {
  font-size: 1.5em;
  color: #2c3e50;
}

.lowest-price {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.enhanced-table {
  border: 0px solid #2c3e50;
  border-radius: 7px;
  overflow: hidden;
  background-color: #f0f0f0;

  width: 100%;
  margin: 20px 0;
  margin-top: 0;
  border-collapse: collapse;
}

.enhanced-table thead {
  background-color: #2c3e50;
  color: #fff;
}

.enhanced-table th,
.enhanced-table td {
  padding: 12px;
  border: 1px solid #b6b6b6;
  text-align: left;
}

.enhanced-table tbody tr:nth-child(even) {
  background-color: #dee0e2;
}

.enhanced-table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.enhanced-table th.gasoleo-a {
  color: #ffeb3b;
}
.enhanced-table-main td:first-child {
  text-align: center;
  padding: 5px;
}
.enhanced-table-main td:last-child {
  text-align: center;
}
.enhanced-table-main td:first-child div {
  justify-content: center;
}
.enhanced-table th.gasoleo-premium {
  color: #ffc107;
}

.enhanced-table th.gasolina-98 {
  color: #99c34a;
}

.enhanced-table th.gasolina-95 {
  color: #4caf50;
}

@media (max-width: 600px) {
  .enhanced-table th,
  .enhanced-table td {
    font-size: 0.8em;
    padding: 6px;
  }
}

.uppercase {
  text-transform: uppercase;
  text-decoration: underline;
}
.enhanced-table-wrapper {
  overflow-x: auto;
}

.digit {
  font-size: 1.2em;

  text-align: center;
  width: 100px;
}
.update-info {
  display: inline-flex;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 0.9em;
  color: #505a66;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border-left: 4px solid #2c3e50;
  margin: 15px 0;
  align-items: center;
  gap: 10px;
}
